= form.text_field :image, placeholder: "画像URLを貼付"
= form.text_area :text, placeholder: "タイトルを入力", rows: "2"
= form.text_area :detail, placeholder: "詳細を入力", rows: "10"
= form.collection_select :category_id, Category.all, :id, :name, {prompt:"カテゴリを選択"}, class: "tweetCategory"