$textColor: #696969;
$likeColor: #aaa;

.nickName {
  padding-top: 20px;
}

.userTub {
  color: #778899;
  line-height: 31px;
}

.infoList {
  color: $textColor;
}

.commentUser {
  color: #FFCC66;
}

.name {
  text-align: center;
  margin-top: 25px;
}

.like {
  color: $gray;
}

.likeBtn {
  color: $gray;
  background-color: transparent;
  border: none;
  outline:0;
}

.likeIcon {
  margin: 5px 5px 0 0;
}

.active .likeIcon {
  font-weight: 900;
}

.detailText {
  color: $textColor;
}

.imageForm {
  display: block;
  border: 1px solid #D8D8D8;
  color: $textColor;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0 15px;
  padding: 10px;
}

.tweetImage {
  display: none;
}

.rowHead {
  max-width: 1000px;
}