.nickName {
  padding-top: 20px;
}

.userTub {
  color: #778899;
  line-height: 31px;
}

.infoList {
  color: #696969;
}

.commentUser {
  color: #FFCC66;
}

.name {
  text-align: center;
  margin-top: 25px;
}

.like {
  color: #aaa;
}

.likeBtn {
  color: #aaa;
  background-color: transparent;
  border: none;
  outline:0;
}

.likeIcon {
  margin: 5px 5px 0 0;
}

.active .likeIcon {
  font-weight: 900;
}

.detailText {
  color: #696969;
}