.nickName {
  padding-top: 20px;
}

.userTub {
  color: #778899;
  line-height: 31px;
}

.infoList {
  color: #696969;
}

.commentUser {
  color: #FFCC66;
}

.name {
  text-align: center;
  margin-top: 25px;
}

.likeBtn {
  color: #aaa;
}